*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;}

:root{
    --amarillo_claro: #f2d479;
    --amarillo_fondo: #f2dea0;
    --color_logo_1: #f2ab27;
    --color_logo_2: #f2911b;
    --color_logo_3: #593825;
    --color_negro: #1b2121;
}
body{
    background-color: var(--amarillo_fondo);
    text-align: center;
}

/* Diseño Barra de navegacion */

#nav_bar{
    position: fixed;
    width: 100%;
    height: 70px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background: linear-gradient(to bottom, var(--color_logo_3), var(--color_negro));
    display: flex;
    user-select: none;
    z-index: 1;
}
#nav_bar .logo_container{
    width: 70px;
    height: 100%;
    background-image: url(/src/img/logo_dulce_encanto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#nav_bar .options_container{
    width: 70%;
    height: 100%;
    margin-left: 60vh;
    
}
.options_container ul{
    list-style: none;
    display: flex;
    margin-top: 30px;
    padding-left: 60%;
}
.options_container li{
    text-decoration: none;
    margin-left: 5%;
}
.options_container li a{
    text-decoration: none;
    color: var(--color_logo_1);
}
.options_container li a:hover{
   
    color: var(--amarillo_claro);
}


/* Diseños Banner */

.main{
    width: 100%;
    height: 700px;
}
.main .banner{
    width: 100%;
    height: 100%;
    background-image: url(/src/img/banner2.jpg);
    opacity: 2.5;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.text_banner{
    width: 50%;
    height: 50%;
    user-select: none;
    padding: 5px;
}
.banner .text_banner p{
    font-size: 2rem;
    color: white;
    text-align: center;
    font-weight: bold;
    
}
.banner .text_banner h1{
    font-size: 4.6rem;
    text-align: center;
    padding: 20px 0;
    color: var(--color_logo_1);
    font-weight: bold;
    font-family: 'Lobster', cursive;
}

/* Diseño Acerca de Nosotros */

.aboutus_container{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 200px;
    background-color: var(--amarillo_claro);
}
.aboutus_container .info_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info_container .description_container{
    width: 40%;
    height: 100%;
}
.description_container .title{
    width: 90%;
    height: 50px;
    font-size: 1.4rem;
    margin: 20px auto;  
}
.title .marca{
    font-family: 'Lobster', cursive;
    color: var(--color_logo_3);
}

.description_container p{
    font-size: 1.2rem ;
    padding-top: 20px;
}

.info_container .galery_container{
    color: white;
    display: flex;
    width: 60%;
    height: 90%;
    background-color: var(--color_negro);
    border-radius: 10px;
}

.galery_container img{
    border-radius: 9px 0px 0px 9px;
    width: 0px;
    height: 100%;
    object-fit: cover;
    flex-grow: 1;
    opacity: .8;
    transition: .5s ease;
}
.galery_container img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}


/*Estilos de seccion de productos*/
.title_section{
    width: 100%;
    height: 50px;
    margin-top: 200px;
    text-align: center;
    color: var(--color_logo_3);
}

.title_section span{
    font-size: 2.5rem;
    font-weight: bold;    
}
.products_container{
    width: 80%;
    margin: 100px auto;
    height: 850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}


.products_container .product_card{
    width: 18%;
    margin: 15px 15px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: var(--color_negro);
    border-bottom: 5px solid var(--color_logo_2);
}
.product_card .card_image{
    width: 100%;
    height: 60%;
    border-bottom: 2px solid var(--color_logo_2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_image img{
    width: 95%;
    height: 95%;
    border-radius: 5px;
}
.product_card .card_description{
    width: 100%;
    height: 40%;
}
.card_description h3{
    font-size: 0.8rem;
    margin-top: 10px;
    color: var(--amarillo_fondo);
}
.card_description img{
    margin-top: 20px;
    width: 50px;
    height: 50px;
}



.section_services{
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 300px;
}
.section_services .image_logo{
    width: 25%;
    height: 60%;
}
.image_logo img{
    width: 100%;
    height: 100%;
}

.section_services .card_service{
    width: 75%;
    height: 100%;
    background: linear-gradient(90deg, rgba(242,222,160,1) 2%, rgba(242,145,27,1) 100%);


}
.card_service h4{
    padding: 20px;
    font-size: 2.4rem;
    color: var(--color_negro);
    text-align: center;
}
.card_service p{
    padding: 10px 60px;
    color: var(--color_logo_3);
    font-size: 1.4rem;
    text-align: center;
}
.card_service img{
    padding-top: 15px;
    border-radius: 5px;
    width: 50%;
    height: 50%;
}
















































/* Diseños de Responsive Design*/

@media (max-width: 1200px) {
    #nav_bar{
        height: 60px;
    }

    #nav_bar .logo_container{
        width: 90px;
    }
    #nav_bar .options_container{
        width: 70%;
        height: 100%;
        margin-left: 50vh;
        
    }
    .options_container ul{
        margin-top: 30px;
        padding-left: 30%;
    }
    .main{
        height: 600px;
    }
    .text_banner{
        width: 50%;
        height: 50%;
        user-select: none;
    }
    .banner .text_banner p{
        font-size: 2rem;
    }
    .banner .text_banner h1{
        font-size: 3.6rem;
        text-align: center;
        padding: 20px 0;
        color: var(--color_logo_1);
        font-weight: bold;
        font-family: 'Lobster', cursive;
    }

    .aboutus_container .title{
        width: 60%;
        font-size: 1.6rem ;
    }

    .aboutus_container{
        height: 450px;
        margin-top: 100px;
    }
    .aboutus_container .info_container{
        height: 100%;
    }
    .description_container .title{
        width: 100%;
        height: 40px;
        font-size: 1rem;
    }
    .title .marca{
        font-size: 1.4rem ;
    }
    .description_container p{
        font-size: 1rem ;
        padding: 20px;
    }

    .products_container{
        height: 700px;
    }
    .products_container .product_card{
        height: 230px;
        width: 25%;
    }
    .card_description h3{
        margin-top: 5px;
    }
    .card_description img{
        margin-top: 5px;
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 800px) {
    #nav_bar{
        height: 60px;
        color: white;
        font-size: 1.2rem;
    }

    #nav_bar .logo_container{
        width: 70px;
    }
    #nav_bar .options_container{
        width: 70%;
        height: 100%;
        margin-left: 10vh;
        
    }
    .options_container ul{
        padding-left: 10%;
        margin-top: 30px;
    }
    
    .options_container ul li{
        margin-left: 10%;
    }

    .main{
        height: 400px;
    }
    .banner .text_banner p{
        font-size: 1.3rem;
    }
    .banner .text_banner h1{
        font-size: 2.6rem;
        text-align: center;
        padding: 20px 0;
        color: var(--color_logo_1);
        font-weight: bold;
        font-family: 'Lobster', cursive;
    }

    .aboutus_container .title{
        width: 70%;
        font-size: 1.4rem;
    }

    .aboutus_container{
        height: 600px;
        margin-top: 100px;
       
    }
    .aboutus_container .info_container{
        width: 100%;
        height: 100%;
        font-size: 1.2rem;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
    }
    .info_container .description_container{
        width: 100%;
        height: 35%;
    }
    .description_container .title{
        width: 100%;
        height: 40px;
        font-size: 1rem;
    }
    .description_container p{
        font-size: 1rem ;
        padding: 20px;
    }
    .info_container .galery_container{
        width: 100%;
        height: 55%;
        margin-top: 20px;
    }
    .products_container{
        height: 1300px;
        width: 100%;
    }
    
    
    .products_container .product_card{
        height: 250px;
        width: 30%;
      
    }

    .card_description h3{
        margin-top: 5px;
    }
    .card_description img{
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 600px){
    #nav_bar{
        height: 50px;
        color: white;
        font-size: 1rem;
        
    }

    #nav_bar .logo_container{
        width: 60px;
    }
    #nav_bar .options_container{
        width: 70%;
        height: 100%;
        margin-left: 5vh;
        
    }
    .options_container ul{
        padding-left: 10%;
        margin-top: 25px;
    }
    
    .options_container ul li{
        margin-left: 5%;
    }

    .main{
        height: 250px;
    }
    .banner .text_banner p{
        font-size: 1rem;
    }
    .banner .text_banner h1{
        font-size: 1.5rem;
        text-align: center;
        padding: 20px 0;
        color: var(--color_logo_1);
        font-weight: bold;
        font-family: 'Lobster', cursive;
    } 

    .aboutus_container{
        height: 600px;
        margin-top: 50px;
    }
    .aboutus_container .info_container{
        height: 100%;
        font-size: 1rem;
    }
    .info_container .description_container{
        width: 100%;
        height: 30%;
    }
    .description_container .title{
        width: 100%;
        height: 40px;
        font-size: 1rem;
        
    }
    .description_container p{
        font-size: 0.8rem ;
        padding: 10px;
    }
    .info_container .galery_container{
        margin-top: 15px;
        width: 100%;
        height: 50%;
        
    }
    .products_container{
        height: 1000px;
        width: 100%;
    }
    
    
    .products_container .product_card{
        height: 200px;
        width: 35%;
    }
    .card_description h3{
        margin-top: 5px;
    }
    .card_description img{
        width: 20px;
        height: 20px;
    }
}