*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;}

:root{
    --amarillo_claro: #f2d479;
    --amarillo_fondo: #f2dea0;
    --color_logo_1: #f2ab27;
    --color_logo_2: #f2911b;
    --color_logo_3: #593825;
    --color_negro: #151c1c;
}
body{
    background-color: var(--amarillo_fondo);
    text-align: center;
}

/* Diseño Barra de navegacion */

#nav_bar{
    position: fixed;
    width: 100%;
    height: 70px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background: linear-gradient(to bottom, var(--color_logo_3), #1b2121);
    display: flex;
    user-select: none;
    z-index: 1;
}
#nav_bar .logo_container{
    width: 70px;
    height: 100%;
    background-image: url(/src/img/logo_dulce_encanto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#nav_bar .options_container{
    width: 70%;
    height: 100%;
    margin-left: 60vh;
    
}
.options_container ul{
    list-style: none;
    display: flex;
    margin-top: 30px;
    padding-left: 60%;
}
.options_container ul a{
    text-decoration: none;
    color: var(--color_logo_1);
    margin-left: 5%;
}
.options_container ul a:hover{
   
    color: var(--amarillo_claro);
}


/* Diseños Banner */

.main{
    width: 100%;
    height: 700px;
}
.main .banner{
    width: 100%;
    height: 100%;
    background-image: url(/src/img/banner2.jpg);
    opacity: 2.5;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.text_banner{
    width: 50%;
    height: 50%;
    user-select: none;
    padding: 5px;
}
.banner .text_banner p{
    font-size: 2rem;
    color: white;
    text-align: center;
    font-weight: bold;
    
}
.banner .text_banner h1{
    font-size: 4.6rem;
    text-align: center;
    padding: 20px 0;
    color: var(--color_logo_1);
    font-weight: bold;
    font-family: 'Lobster', cursive;
}

/* Diseño Acerca de Nosotros */

.aboutus_container{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 100px;
    background-color: var(--amarillo_claro);
}
.aboutus_container .info_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info_container .description_container{
    width: 40%;
    height: 100%;
}
.description_container .title{
    width: 90%;
    height: 50px;
    font-size: 1.4rem;
    margin: 20px auto;  
}
.title .marca{
    font-family: 'Lobster', cursive;
    color: var(--color_logo_1);
}

.description_container p{
    font-size: 1.2rem ;
    padding-top: 20px;
}

.info_container .galery_container{
    color: white;
    display: flex;
    width: 60%;
    height: 90%;
    background-color: var(--color_negro);
    border-radius: 10px;
}

.galery_container img{
    border-radius: 9px 0px 0px 9px;
    width: 0px;
    height: 100%;
    object-fit: cover;
    flex-grow: 1;
    opacity: .8;
    transition: .5s ease;
}
.galery_container img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}


/*Estilos de seccion de productos*/
.title_section{
    width: 100%;
    height: 50px;
    margin-top: 150px;
    text-align: center;
    color: var(--color_logo_2);
}

.title_section span{
    font-size: 2.5rem;
    font-weight: bold;    
}
.products_container{
    width: 80%;
    margin: 100px auto;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #261811;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f2911b' fill-opacity='0.4'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border-radius: 20px;
}


.products_container .product_card{
    width: 20%;
    margin: 20px 20px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: var(--amarillo_claro);
}

.product_card .card_image{
    width: 100%;
    height: 55%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_image img{
    width: 95%;
    height: 95%;
    border-radius: 5px;
}
.product_card .card_description{
    width: 100%;
    height: 40%;
}


















































/* Diseños de Responsive Design*/

@media (max-width: 1200px) {
    #nav_bar{
        height: 60px;
    }

    #nav_bar .logo_container{
        width: 90px;
    }
    #nav_bar .options_container{
        width: 70%;
        height: 100%;
        margin-left: 50vh;
        
    }
    .options_container ul{
        margin-top: 30px;
        padding-left: 30%;
    }
    .main{
        height: 600px;
    }
    .text_banner{
        width: 50%;
        height: 50%;
        user-select: none;
    }
    .banner .text_banner p{
        font-size: 2rem;
    }
    .banner .text_banner h1{
        font-size: 3.6rem;
        text-align: center;
        padding: 20px 0;
        color: var(--color_logo_1);
        font-weight: bold;
        font-family: 'Lobster', cursive;
    }

    .aboutus_container .title{
        width: 60%;
        font-size: 1.6rem ;
    }

    .aboutus_container{
        height: 500px;
        margin-top: 100px;
    }
    .aboutus_container .info_container{
        height: 300px;
    }
    .description_container .title{
        width: 100%;
        height: 40px;
        font-size: 1rem;
    }
    .title .marca{
        font-size: 1.4rem ;
    }
    .description_container p{
        font-size: 1rem ;
        padding: 20px;
    }
}

@media (max-width: 800px) {
    #nav_bar{
        height: 60px;
        color: white;
        font-size: 1.2rem;
    }

    #nav_bar .logo_container{
        width: 70px;
    }
    #nav_bar .options_container{
        width: 70%;
        height: 100%;
        margin-left: 10vh;
        
    }
    .options_container ul{
        padding-left: 10%;
        margin-top: 30px;
    }
    
    .options_container ul a{
        margin-left: 10%;
    }

    .main{
        height: 400px;
    }
    .banner .text_banner p{
        font-size: 1.3rem;
    }
    .banner .text_banner h1{
        font-size: 2.6rem;
        text-align: center;
        padding: 20px 0;
        color: var(--color_logo_1);
        font-weight: bold;
        font-family: 'Lobster', cursive;
    }

    .aboutus_container .title{
        width: 70%;
        font-size: 1.4rem;
    }

    .aboutus_container{
        height: 400px;
        margin-top: 100px;
       
    }
    .aboutus_container .info_container{
        width: 100%;
        height: 100%;
        font-size: 1.2rem;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
    }
    .info_container .description_container{
        width: 100%;
        height: 35%;
    }
    .description_container .title{
        width: 100%;
        height: 40px;
        font-size: 1rem;
    }
    .description_container p{
        font-size: 1rem ;
        padding: 20px;
    }
    .info_container .galery_container{
        width: 100%;
        height: 55%;
        margin-top: 20px;
    }
}

@media (max-width: 600px){
    #nav_bar{
        height: 50px;
        color: white;
        font-size: 1rem;
        
    }

    #nav_bar .logo_container{
        width: 60px;
    }
    #nav_bar .options_container{
        width: 70%;
        height: 100%;
        margin-left: 5vh;
        
    }
    .options_container ul{
        padding-left: 10%;
        margin-top: 25px;
    }
    
    .options_container ul a{
        margin-left: 5%;
    }

    .main{
        height: 250px;
    }
    .banner .text_banner p{
        font-size: 1rem;
    }
    .banner .text_banner h1{
        font-size: 1.5rem;
        text-align: center;
        padding: 20px 0;
        color: var(--color_logo_1);
        font-weight: bold;
        font-family: 'Lobster', cursive;
    } 

    .aboutus_container{
        height: 300px;
        margin-top: 50px;
    }
    .aboutus_container .info_container{
        height: 100%;
        font-size: 1rem;
    }
    .info_container .description_container{
        width: 100%;
        height: 30%;
    }
    .description_container .title{
        width: 100%;
        height: 40px;
        font-size: 1rem;
        
    }
    .description_container p{
        font-size: 0.8rem ;
        padding: 10px;
    }
    .info_container .galery_container{
        margin-top: 15px;
        width: 100%;
        height: 50%;
        
    }
}